# Statistical Tests and Aggregation
### Initial Setup

In [62]:
# Import Depencies
import pandas as pd

In [66]:
# Load saved and analyzed tweets
df = pd.read_csv('csv/tweets.csv')
df.tail()

,created,id_str,text,user_id,screen_name,location,followers_count,user_favourites_count,time_zone,geo_enabled,verified,status_count,geo,coords,retweet_count,tweet_favourite_count,Subjectivity,Polarity,Sentiment
232053,2021-03-15 00:03:00,1371250540449988610,f0lake: No i dont think u understand i need to...,1078018972975476736,jenflowerr,"California, USA",20,2299,NaN,False,False,1808,NaN,NaN,142,0,0.0,0.00,neutral
232054,2021-03-15 00:02:59,1371250536633208834,PeterHotez: It’s why we might eventually move ...,828324944522141696,karenh7463,"Indiana, USA",641,188950,NaN,True,False,53018,NaN,NaN,495,0,0.5,0.25,positive
232055,2021-03-15 00:02:58,1371250532568956935,web_rant: mikeallen axios kadiagoba Gosh Mike ...,831767249723731981,randypilsr,"Arkansas, USA",456,22502,NaN,True,False,12150,NaN,NaN,2,0,0.1,0.00,neutral
232056,2021-03-15 00:02:57,1371250531516223488,Reuters: AstraZeneca finds no evidence of incr...,290224215,cadenjames1,Netherlands,141,172,NaN,True,False,11705,NaN,NaN,124,0,0.0,0.00,neutral
232057,2021-03-15 00:02:57,1371250530123718660,Found my old WHO vaccine cert booklet from whe...,92157908,Juliagoolia1982,Anywhere but here,761,16382,NaN,True,False,13107,NaN,NaN,0,0,0.2,0.10,positive

In [67]:
# Function to highlight which drug company was mentioned in the tweet (if any)
def GetManufacturer(txt):
    txt = txt.lower()
    if 'moderna' in txt:
        return 'mo'
    elif 'pfizer' in txt: 
        return 'pf'
    elif 'astra' in txt:
        return 'az'
    else:
        return '0'

In [68]:
# Applying the function above
df['manufacturer'] = df['text'].apply(GetManufacturer)
df.tail()

,created,id_str,text,user_id,screen_name,location,followers_count,user_favourites_count,time_zone,geo_enabled,verified,status_count,geo,coords,retweet_count,tweet_favourite_count,Subjectivity,Polarity,Sentiment,manufacturer
232053,2021-03-15 00:03:00,1371250540449988610,f0lake: No i dont think u understand i need to...,1078018972975476736,jenflowerr,"California, USA",20,2299,NaN,False,False,1808,NaN,NaN,142,0,0.0,0.00,neutral,pf
232054,2021-03-15 00:02:59,1371250536633208834,PeterHotez: It’s why we might eventually move ...,828324944522141696,karenh7463,"Indiana, USA",641,188950,NaN,True,False,53018,NaN,NaN,495,0,0.5,0.25,positive,mo
232055,2021-03-15 00:02:58,1371250532568956935,web_rant: mikeallen axios kadiagoba Gosh Mike ...,831767249723731981,randypilsr,"Arkansas, USA",456,22502,NaN,True,False,12150,NaN,NaN,2,0,0.1,0.00,neutral,0
232056,2021-03-15 00:02:57,1371250531516223488,Reuters: AstraZeneca finds no evidence of incr...,290224215,cadenjames1,Netherlands,141,172,NaN,True,False,11705,NaN,NaN,124,0,0.0,0.00,neutral,az
232057,2021-03-15 00:02:57,1371250530123718660,Found my old WHO vaccine cert booklet from whe...,92157908,Juliagoolia1982,Anywhere but here,761,16382,NaN,True,False,13107,NaN,NaN,0,0,0.2,0.10,positive,0

In [69]:
# Select only the columns being used in this workbook
df = df[['id_str','retweet_count','tweet_favourite_count','Subjectivity','Polarity','manufacturer']]

### Making the Polarity of tweets easier to visualize

In [71]:
# Create a new dataframe for the percentage polarity analysis
polarity_df = df
polarity_df['Subjectivity'] = polarity_df['Subjectivity'].round(decimals=1)
polarity_df['Polarity'] = polarity_df['Polarity'].round(decimals=1)
polarity_df = polarity_df.drop(columns=['id_str'])
polarity_df.tail(3)

,retweet_count,tweet_favourite_count,Subjectivity,Polarity,manufacturer
232055,2,0,0.1,0.0,0
232056,124,0,0.0,0.0,az
232057,0,0,0.2,0.1,0

In [72]:
# exploring the dataset
df2 = polarity_df.groupby(by =['manufacturer','Polarity']).sum()
df2

                       retweet_count  tweet_favourite_count  Subjectivity
manufacturer Polarity
0            -1.0             100855                    159         182.4
             -0.9                616                     24          13.8
             -0.8               3698                    477         142.6
             -0.7                880                    140          67.6
             -0.6              44104                    416         277.8
...                              ...                    ...           ...
pf            0.6              89742                   2916        1036.3
              0.7                158                     99          36.2
              0.8               5492                    473         174.9
              0.9                352                     73          19.8
              1.0               1035                    265          82.2

[84 rows x 3 columns]

In [73]:
# Can remove even more columns
polarity_df = polarity_df[['manufacturer','Polarity']]

In [74]:
# Create groupby object by manufacturer
by_man = polarity_df.groupby(by=['manufacturer'])

In [75]:
# Perform value counts by polarity
# Normalised because of the large gaps between polarity points
pf = by_man['Polarity'].value_counts(normalize=True).loc['pf']
az = by_man['Polarity'].value_counts(normalize=True).loc['az']
mo = by_man['Polarity'].value_counts(normalize=True).loc['mo']
un = by_man['Polarity'].value_counts(normalize=True).loc['0']

In [76]:
# Combine polarity counts into datafram and visualize
polarity = pd.concat(
    [pf,az,mo,un], 
    axis=1, 
    keys=['Pfizer-BioNTech','AstraZeneca','Moderna','Unknown']
)
polarity = polarity.reset_index()
polarity

    Polarity  Pfizer-BioNTech  AstraZeneca   Moderna   Unknown
0       -1.0         0.000715     0.000410  0.000517  0.001169
1       -0.9         0.000204     0.000072  0.000222  0.000102
2       -0.8         0.000817     0.000868  0.002661  0.000978
3       -0.7         0.000664     0.000554  0.001922  0.000559
4       -0.6         0.001123     0.004121  0.006430  0.002013
5       -0.5         0.005463     0.002988  0.003769  0.006580
6       -0.4         0.009394     0.009254  0.006652  0.007774
7       -0.3         0.009854     0.011182  0.009534  0.009222
8       -0.2         0.032217     0.028436  0.025868  0.024281
9       -0.1         0.032727     0.097646  0.039394  0.038147
10       0.0         0.415348     0.631419  0.463636  0.402826
11       0.1         0.109415     0.050871  0.134146  0.085509
12       0.2         0.148065     0.057691  0.151367  0.163213
13       0.3         0.065404     0.017254  0.044346  0.051605
14       0.4         0.054529     0.021038  0.041242  0.028766
15       0.5         0.028183     0.044365  0.024316  0.055302
16       0.6         0.066221     0.005808  0.022025  0.033720
17       0.7         0.002757     0.001687  0.003622  0.005577
18       0.8         0.010671     0.001542  0.012121  0.043876
19       0.9         0.001327     0.000361  0.002143  0.000553
20       1.0         0.004901     0.012435  0.004065  0.038229

In [ ]:
# save a copy
# polarity.to_csv('csv/polarity.csv',index=False, encoding='UTF-8')

In [49]:

polarity

    Polarity  Pfizer-BioNTech  AstraZeneca   Moderna   Unknown
0       -1.0         0.000715     0.000410  0.000517  0.001169
1       -0.9         0.000204     0.000072  0.000222  0.000102
2       -0.8         0.000817     0.000868  0.002661  0.000978
3       -0.7         0.000664     0.000554  0.001922  0.000559
4       -0.6         0.001123     0.004121  0.006430  0.002013
5       -0.5         0.005463     0.002988  0.003769  0.006580
6       -0.4         0.009394     0.009254  0.006652  0.007774
7       -0.3         0.009854     0.011182  0.009534  0.009222
8       -0.2         0.032217     0.028436  0.025868  0.024281
9       -0.1         0.032727     0.097646  0.039394  0.038147
10       0.0         0.415348     0.631419  0.463636  0.402826
11       0.1         0.109415     0.050871  0.134146  0.085509
12       0.2         0.148065     0.057691  0.151367  0.163213
13       0.3         0.065404     0.017254  0.044346  0.051605
14       0.4         0.054529     0.021038  0.041242  0.028766
15       0.5         0.028183     0.044365  0.024316  0.055302
16       0.6         0.066221     0.005808  0.022025  0.033720
17       0.7         0.002757     0.001687  0.003622  0.005577
18       0.8         0.010671     0.001542  0.012121  0.043876
19       0.9         0.001327     0.000361  0.002143  0.000553
20       1.0         0.004901     0.012435  0.004065  0.038229

### Comparing the polarity scores across Manufacturers

In [77]:
# For stats 
# https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_rel.html
from scipy import stats

In [79]:
df2 = df[['retweet_count','tweet_favourite_count','Polarity','manufacturer']]
df2

        retweet_count  tweet_favourite_count  Polarity manufacturer
0                   0                      1       0.0           pf
1                  92                      0       0.2            0
2                   0                      1       0.5            0
3                 102                      0       0.2           pf
4                   1                      0       0.0            0
...               ...                    ...       ...          ...
232053            142                      0       0.0           pf
232054            495                      0       0.2           mo
232055              2                      0       0.0            0
232056            124                      0       0.0           az
232057              0                      0       0.1            0

[232058 rows x 4 columns]

In [80]:
# create a new groupby ojbect by manufacturer 
df2_man = df.groupby(by=['manufacturer'])

In [82]:
df2_man.mean()

,id_str,retweet_count,tweet_favourite_count,Subjectivity,Polarity
manufacturer,,,,,
0,1.370442e+18,3663.978164,4.151971,0.339735,0.172315
az,1.370560e+18,359.724414,2.170494,0.216722,0.043027
mo,1.370560e+18,1486.531633,4.978271,0.291840,0.092520
pf,1.370516e+18,167.427040,5.882569,0.346579,0.130522

In [84]:
small_df = df[['Polarity','manufacturer']]

In [85]:
az_df = small_df.loc[small_df.manufacturer =='az']
mo_df = small_df.loc[small_df.manufacturer =='mo']
pf_df = small_df.loc[small_df.manufacturer =='pf']
un_df = small_df.loc[small_df.manufacturer =='0']

In [87]:
# Perform welch's ttest (assumes unequal variances)
az_mo = stats.ttest_ind(az_df.Polarity, mo_df.Polarity, equal_var = False)
az_mo

Ttest_indResult(statistic=-23.059598150244078, pvalue=2.988406103494073e-116)

In [88]:
az_pf = stats.ttest_ind(az_df.Polarity, pf_df.Polarity, equal_var = False)
az_pf

Ttest_indResult(statistic=-44.17353918862547, pvalue=0.0)

In [89]:
az_un = stats.ttest_ind(az_df.Polarity, un_df.Polarity, equal_var = False)
az_un

Ttest_indResult(statistic=-102.87225840343122, pvalue=0.0)

In [90]:
mo_pf = stats.ttest_ind(mo_df.Polarity, pf_df.Polarity, equal_var = False)
mo_pf

Ttest_indResult(statistic=-14.884349261786252, pvalue=6.238421682411701e-50)

In [91]:
mo_un = stats.ttest_ind(mo_df.Polarity, un_df.Polarity, equal_var = False)
mo_un

Ttest_indResult(statistic=-39.053674950792164, pvalue=0.0)

In [92]:
pf_un = stats.ttest_ind(pf_df.Polarity, un_df.Polarity, equal_var = False)
pf_un

Ttest_indResult(statistic=-22.36760411450008, pvalue=7.527063949692831e-110)