In [1]:
# For stats 
# https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_rel.html
from scipy import stats

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('csv/tweets.csv')

In [4]:
df.head()

,created,id_str,text,user_id,screen_name,location,followers_count,user_favourites_count,time_zone,geo_enabled,verified,status_count,geo,coords,retweet_count,tweet_favourite_count,Subjectivity,Polarity,Sentiment
0,2021-03-03 23:59:59,1367263516457979910,Shieldk2 Yes! My wife works for Pfizer and has...,2600327203,Sobres74,"Seattle, WA",91,2960,NaN,False,False,3192,NaN,NaN,0,1,0.000000,0.000000,neutral
1,2021-03-03 23:59:59,1367263515656867840,"oleary_ray: ""I will not be taking the Covid va...",727678062918180864,cooksonm7,"Auckland, New Zealand",555,25880,NaN,True,False,4078,NaN,NaN,92,0,0.200000,0.200000,positive
2,2021-03-03 23:59:59,1367263515388567563,"CDC's report on J&amp;J COVID-19 vaccine - ""AC...",15219316,bchaiken,"Boston, MA USA",511,4,NaN,True,False,380,NaN,NaN,0,1,0.400000,0.500000,positive
3,2021-03-03 23:59:58,1367263513257930752,ByYourLogic: the Pfizer vaccine makes your dic...,1343038909769539584,OldManVEVO,NaN,8,323,NaN,False,False,70,NaN,NaN,102,0,0.600000,0.200000,positive
4,2021-03-03 23:59:56,1367263503782928384,RobDownenChron: The Archdiocese says the new J...,20774223,MagEGordon,"Houston, TX",4779,7215,NaN,True,True,27559,NaN,NaN,1,0,0.234848,0.045455,positive

In [5]:
def GetManufacturer(txt):
    txt = txt.lower()
    if 'moderna' in txt:
        return 'mo'
    elif 'pfizer' in txt: 
        return 'pf'
    elif 'astra' in txt:
        return 'az'
    else:
        return '0'

In [6]:
df['manufacturer'] = df['text'].apply(GetManufacturer)
df.tail()

,created,id_str,text,user_id,screen_name,location,followers_count,user_favourites_count,time_zone,geo_enabled,verified,status_count,geo,coords,retweet_count,tweet_favourite_count,Subjectivity,Polarity,Sentiment,manufacturer
232053,2021-03-15 00:03:00,1371250540449988610,f0lake: No i dont think u understand i need to...,1078018972975476736,jenflowerr,"California, USA",20,2299,NaN,False,False,1808,NaN,NaN,142,0,0.0,0.00,neutral,pf
232054,2021-03-15 00:02:59,1371250536633208834,PeterHotez: It’s why we might eventually move ...,828324944522141696,karenh7463,"Indiana, USA",641,188950,NaN,True,False,53018,NaN,NaN,495,0,0.5,0.25,positive,mo
232055,2021-03-15 00:02:58,1371250532568956935,web_rant: mikeallen axios kadiagoba Gosh Mike ...,831767249723731981,randypilsr,"Arkansas, USA",456,22502,NaN,True,False,12150,NaN,NaN,2,0,0.1,0.00,neutral,0
232056,2021-03-15 00:02:57,1371250531516223488,Reuters: AstraZeneca finds no evidence of incr...,290224215,cadenjames1,Netherlands,141,172,NaN,True,False,11705,NaN,NaN,124,0,0.0,0.00,neutral,az
232057,2021-03-15 00:02:57,1371250530123718660,Found my old WHO vaccine cert booklet from whe...,92157908,Juliagoolia1982,Anywhere but here,761,16382,NaN,True,False,13107,NaN,NaN,0,0,0.2,0.10,positive,0

In [7]:
df = df[['id_str','verified','retweet_count','tweet_favourite_count','Subjectivity','Polarity','Sentiment','manufacturer']]

In [12]:
df['Subjectivity'] = df['Subjectivity'].round(decimals=1)
df['Polarity'] = df['Polarity'].round(decimals=1)
df

,id_str,verified,retweet_count,tweet_favourite_count,Subjectivity,Polarity,Sentiment,manufacturer
0,1367263516457979910,False,0,1,0.0,0.0,neutral,pf
1,1367263515656867840,False,92,0,0.2,0.2,positive,0
2,1367263515388567563,False,0,1,0.4,0.5,positive,0
3,1367263513257930752,False,102,0,0.6,0.2,positive,pf
4,1367263503782928384,True,1,0,0.2,0.0,positive,0
...,...,...,...,...,...,...,...,...
232053,1371250540449988610,False,142,0,0.0,0.0,neutral,pf
232054,1371250536633208834,False,495,0,0.5,0.2,positive,mo
232055,1371250532568956935,False,2,0,0.1,0.0,neutral,0
232056,1371250531516223488,False,124,0,0.0,0.0,neutral,az
232057,1371250530123718660,False,0,0,0.2,0.1,positive,0

In [22]:
df2 = df.drop(columns=['id_str'])
df2

,verified,retweet_count,tweet_favourite_count,Subjectivity,Polarity,Sentiment,manufacturer
0,False,0,1,0.0,0.0,neutral,pf
1,False,92,0,0.2,0.2,positive,0
2,False,0,1,0.4,0.5,positive,0
3,False,102,0,0.6,0.2,positive,pf
4,True,1,0,0.2,0.0,positive,0
...,...,...,...,...,...,...,...
232053,False,142,0,0.0,0.0,neutral,pf
232054,False,495,0,0.5,0.2,positive,mo
232055,False,2,0,0.1,0.0,neutral,0
232056,False,124,0,0.0,0.0,neutral,az
232057,False,0,0,0.2,0.1,positive,0

In [20]:
df3 = df2.groupby(by ='manufacturer').sum()
df3

,verified,retweet_count,tweet_favourite_count,Subjectivity,Polarity
manufacturer,,,,,
0,8222.0,576875042,653707,53489.6,27130.2
az,1497.0,14927484,90069,8993.3,1785.5
mo,370.0,20112773,67356,3948.6,1251.8
pf,650.0,3279226,115216,6788.1,2556.4

In [21]:
df4 = df2.groupby(by =['manufacturer','Polarity']).sum()
df4

                       verified  retweet_count  tweet_favourite_count  \
manufacturer Polarity
0            -1.0           3.0         100855                    159
             -0.9           0.0            616                     24
             -0.8           7.0           3698                    477
             -0.7           3.0            880                    140
             -0.6           7.0          44104                    416
...                         ...            ...                    ...
pf            0.6          72.0          89742                   2916
              0.7           2.0            158                     99
              0.8           7.0           5492                    473
              0.9           1.0            352                     73
              1.0           7.0           1035                    265

                       Subjectivity
manufacturer Polarity
0            -1.0             182.4
             -0.9              13.8
             -0.8             142.6
             -0.7              67.6
             -0.6             277.8
...                             ...
pf            0.6            1036.3
              0.7              36.2
              0.8             174.9
              0.9              19.8
              1.0              82.2

[84 rows x 4 columns]

In [23]:
df_new = df2[['manufacturer','Polarity']]

In [32]:
by_man = df_new.groupby(by=['manufacturer'])

In [39]:
pf_df2 = by_man['Polarity'].value_counts(normalize=True).loc['pf']
az_df2 = by_man['Polarity'].value_counts(normalize=True).loc['az']
mo_df2 = by_man['Polarity'].value_counts(normalize=True).loc['mo']
un_df2 = by_man['Polarity'].value_counts(normalize=True).loc['0']

In [47]:
polarity = pd.concat(
    [pf_df2,az_df2,mo_df2,un_df2], 
    axis=1, 
    keys=['Pfizer-BioNTech','AstraZeneca','Moderna','Unknown']
)
polarity

          Pfizer-BioNTech  AstraZeneca   Moderna   Unknown
Polarity
-1.0             0.000715     0.000410  0.000517  0.001169
-0.9             0.000204     0.000072  0.000222  0.000102
-0.8             0.000817     0.000868  0.002661  0.000978
-0.7             0.000664     0.000554  0.001922  0.000559
-0.6             0.001123     0.004121  0.006430  0.002013
-0.5             0.005463     0.002988  0.003769  0.006580
-0.4             0.009394     0.009254  0.006652  0.007774
-0.3             0.009854     0.011182  0.009534  0.009222
-0.2             0.032217     0.028436  0.025868  0.024281
-0.1             0.032727     0.097646  0.039394  0.038147
 0.0             0.415348     0.631419  0.463636  0.402826
 0.1             0.109415     0.050871  0.134146  0.085509
 0.2             0.148065     0.057691  0.151367  0.163213
 0.3             0.065404     0.017254  0.044346  0.051605
 0.4             0.054529     0.021038  0.041242  0.028766
 0.5             0.028183     0.044365  0.024316  0.055302
 0.6             0.066221     0.005808  0.022025  0.033720
 0.7             0.002757     0.001687  0.003622  0.005577
 0.8             0.010671     0.001542  0.012121  0.043876
 0.9             0.001327     0.000361  0.002143  0.000553
 1.0             0.004901     0.012435  0.004065  0.038229

In [49]:
polarity = polarity.reset_index()
polarity

    Polarity  Pfizer-BioNTech  AstraZeneca   Moderna   Unknown
0       -1.0         0.000715     0.000410  0.000517  0.001169
1       -0.9         0.000204     0.000072  0.000222  0.000102
2       -0.8         0.000817     0.000868  0.002661  0.000978
3       -0.7         0.000664     0.000554  0.001922  0.000559
4       -0.6         0.001123     0.004121  0.006430  0.002013
5       -0.5         0.005463     0.002988  0.003769  0.006580
6       -0.4         0.009394     0.009254  0.006652  0.007774
7       -0.3         0.009854     0.011182  0.009534  0.009222
8       -0.2         0.032217     0.028436  0.025868  0.024281
9       -0.1         0.032727     0.097646  0.039394  0.038147
10       0.0         0.415348     0.631419  0.463636  0.402826
11       0.1         0.109415     0.050871  0.134146  0.085509
12       0.2         0.148065     0.057691  0.151367  0.163213
13       0.3         0.065404     0.017254  0.044346  0.051605
14       0.4         0.054529     0.021038  0.041242  0.028766
15       0.5         0.028183     0.044365  0.024316  0.055302
16       0.6         0.066221     0.005808  0.022025  0.033720
17       0.7         0.002757     0.001687  0.003622  0.005577
18       0.8         0.010671     0.001542  0.012121  0.043876
19       0.9         0.001327     0.000361  0.002143  0.000553
20       1.0         0.004901     0.012435  0.004065  0.038229

In [58]:
polarity.to_csv('polarity.csv',index=False, encoding='UTF-8')