In [1]:
import pandas as pd
from config import *

In [2]:
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine

In [3]:
engine = create_engine(conn2, echo=False)

In [4]:
Base = automap_base()
Base.prepare(engine, reflect=True)

In [5]:
from os import listdir

In [10]:
filepaths = ['csvs/' + f for f in listdir("csvs")]
df = pd.concat(map(pd.read_csv, filepaths))
df = df.drop_duplicates(subset=['id_str'])
len(df)

232058

In [11]:
df = df.reset_index()
df = df.drop(columns=['index'])
df.tail(1)

,created,id_str,text,user_id,screen_name,location,followers_count,user_favourites_count,time_zone,geo_enabled,verified,status_count,geo,coords,retweet_count,tweet_favourite_count,Subjectivity,Polarity,Sentiment
232057,2021-03-15 00:02:57,1371250530123718660,Found my old WHO vaccine cert booklet from whe...,92157908,Juliagoolia1982,Anywhere but here,761,16382,NaN,True,False,13107,NaN,NaN,0,0,0.2,0.1,positive

In [12]:
# text dataframe
text_df = df[['id_str', 'text','Sentiment']]
text_df

,id_str,text,Sentiment
0,1367263516457979910,Shieldk2 Yes! My wife works for Pfizer and has...,neutral
1,1367263515656867840,"oleary_ray: ""I will not be taking the Covid va...",positive
2,1367263515388567563,"CDC's report on J&amp;J COVID-19 vaccine - ""AC...",positive
3,1367263513257930752,ByYourLogic: the Pfizer vaccine makes your dic...,positive
4,1367263503782928384,RobDownenChron: The Archdiocese says the new J...,positive
...,...,...,...
232053,1371250540449988610,f0lake: No i dont think u understand i need to...,neutral
232054,1371250536633208834,PeterHotez: It’s why we might eventually move ...,positive
232055,1371250532568956935,web_rant: mikeallen axios kadiagoba Gosh Mike ...,neutral
232056,1371250531516223488,Reuters: AstraZeneca finds no evidence of incr...,neutral
232057,1371250530123718660,Found my old WHO vaccine cert booklet from whe...,positive

In [14]:
from textblob import TextBlob

In [15]:
from nltk.corpus import stopwords
stop_words = stopwords.words('english')

In [16]:
def Tokenize(txt):
    return TextBlob(txt).words

In [24]:
def RemoveStopWords(lst):
    stop_words = stopwords.words('english')
    no_stopwords = [word for word in lst if not word in stop_words]
    return no_stopwords

In [54]:
from nltk.stem.porter import PorterStemmer 
ps = PorterStemmer()

def Stem(lst):
    new_list = [ps.stem(item) for item in lst]
    return new_list

In [41]:
import nltk
nltk.download('wordnet')
from nltk.stem.wordnet import WordNetLemmatizer
wnl = WordNetLemmatizer()

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\guyan\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [47]:

def Lemmatize(lst):
#     for item in lst:
#         lemma = wnl.lemmatize(item)
#         lemmas.append(lemma)
     
    lemmas = [wnl.lemmatize(item) for item in lst]
    return lemmas

In [55]:
lit = ['fur','furry', 'churches','dogs','speak','spoken','speaking','spoke']
new_lit = Stem(lit)
new_lit

['fur', 'furri', 'church', 'dog', 'speak', 'spoken', 'speak', 'spoke']

In [56]:
new_lit2 = Lemmatize(new_lit)
new_lit2

['fur', 'furri', 'church', 'dog', 'speak', 'spoken', 'speak', 'spoke']

In [26]:
def KeyWord(lst, search_terms):
    if any(search_terms in item for item in lst):
        return 1
    else: 
        return 0

In [59]:
text_df['tokens'] = text_df['text'].apply(Tokenize)
text_df['clean_tokens'] = text_df['tokens'].apply(RemoveStopWords)
text_df['clean_lemmas'] = text_df['clean_tokens'].apply(Lemmatize)
text_df.head(3)

,id_str,text,Sentiment,tokens,clean_tokens,clean_lemmas
0,1367263516457979910,Shieldk2 Yes! My wife works for Pfizer and has...,neutral,"[Shieldk2, Yes, My, wife, works, for, Pfizer, ...","[Shieldk2, Yes, My, wife, works, Pfizer, worki...","[Shieldk2, Yes, My, wife, work, Pfizer, workin..."
1,1367263515656867840,"oleary_ray: ""I will not be taking the Covid va...",positive,"[oleary_ray, I, will, not, be, taking, the, Co...","[oleary_ray, I, taking, Covid, vaccine, Covid,...","[oleary_ray, I, taking, Covid, vaccine, Covid,..."
2,1367263515388567563,"CDC's report on J&amp;J COVID-19 vaccine - ""AC...",positive,"[CDC, 's, report, on, J, amp, J, COVID-19, vac...","[CDC, 's, report, J, amp, J, COVID-19, vaccine...","[CDC, 's, report, J, amp, J, COVID-19, vaccine..."

In [ ]:
text_df = text_df[['id_str','Sentiment','clean_lemmas']]

In [63]:
def Lower(lst):
    new_list = [i.lower() for i in lst]
    return new_list

In [64]:
sent = 'this IS senTence Hi'
print(sent.lower())

this is sentence hi

In [ ]:
text_df[''] = text_df

# Pick out Key Words

In [ ]:
az_terms= ['astrazeneca','']